@import './general';

#customer {
  margin-top: 4rem;
  text-align: center;

  .customer-title {
    font-size: 2.2rem;
    text-align: center;
    color: $main-color-dark;
    text-transform: uppercase;
  }

  .customer-description {
    font-size: 1.5rem;
    color: $main-color;
    padding: 1.5rem;
  }

  .customer-img {
    padding: 1rem 0;
  }
  .customer-name {
    font-size: 1.8rem;
    color: $main-color-dark;
    font-weight: 700;
  }
  .customer-town {
    color: $main-color;
  }
}
