//  General Style
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Work Sans', sans-serif;
}

//  Colors

$main-light-color: #b3d0e9;
$main-light-color1: #6ba0d3;
$main-light-color2: #a1b3d2;
$main-color: #255ca2;
$main-color-dark: #03328d;
$main-color-dark1: #13295b;
