@import './general';

//  Header
header {
  display: flex;
  align-items: center;
  justify-content: center;

  //  Media
  @media (min-width: 30rem) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  img {
    display: none;

    //  Media
    @media (min-width: 30rem) {
      display: block;
      padding: 0.8rem;
      width: 5rem;
      height: 5rem;
    }
  }

  .main-nav {
    margin-top: 1.5rem;
    .nav-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;

      //  Media
      @media (min-width: 30rem) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-right: 2rem;
      }

      .nav-list__item {
        margin: 0.5rem;
        .nav-item__links {
          text-decoration: none;
          font-size: 1.4rem;
          text-transform: uppercase;
          color: $main-color-dark1;
          font-weight: 700;
        }
        .nav-item__links:active,
        .nav-item__links:hover {
          color: $main-color;
          border-bottom: 2px solid $main-color;
        }
      }
    }
  }
}
