@import './general';

//  Section services

#services {
  margin-top: 2rem;

  .services-title {
    font-size: 2.2rem;
    text-align: center;
    color: $main-color-dark;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }

  .business {
    margin: 0.5rem;

    .business-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 2rem 0;

      //  Media
      @media (min-width: 30rem) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
      }
      .business-description {
        text-align: center;

        .business-title {
          font-size: 1.8rem;
          text-transform: uppercase;
          color: $main-color-dark;
          margin-top: 3rem;
        }

        .business-subtitle {
          font-size: 1.5rem;
          text-align: center;
          padding: 1rem;
          color: $main-color;
        }

        .btn {
          color: $white;
          background: $main-color;
          border-radius: 0.8rem;
          padding: 0.8rem;
          border: none;
          margin-bottom: 3rem;
          cursor: pointer;
        }
      }

      .business-img {
        text-align: center;
        img {
          width: 95vw;
          height: 25vh;

          //  Media
          @media (min-width: 30rem) {
            width: 50vw;
          }
          @media (min-width: 40rem) {
            height: 20vh;
          }
          @media (min-width: 50rem) {
            height: 25vh;
            width: 30vw;
          }
        }
      }
    }
  }
}
